.description_item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    font-size: 26px;
    width: 700px;
    min-height: 700px;
    max-height: max-content;
}
.number{
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 5%;
}
.title{
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 60%;
}
.body{
    text-align: center;
    margin: 5px;
    padding: 15px;
    overflow: hidden;

}
.button{
    margin: 15px;
}
