.post_item {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    align-items: center;
    font-size: 26px;
    min-height: 50px;
    max-height: max-content;
}
.number{
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 5%;
}
.title{
    margin: 5px;
    padding: 5px;
    width: 60%;
}
.body{
    margin: 5px;
    padding: 15px;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.button{
    margin: 15px;
}
